#!/usr/bin/env xdg-open
[Desktop Entry]
Name=HD Homerun Config
Comment=Configure HD Homerun devices
GenericName=hdhomerun_config_gui
Exec=/usr/local/bin/hdhomerun_config_gui
Type=Application
Encoding=UTF-8
Icon=
Categories=GTK;System;Settings
X-AppInstall-Package=hdhomerun
